<html>
<head>
  <meta charset='utf-8'>
  <title>reach-the-good</title>
</head>
<body onload="focus();">

「<%= bad_word %>」を避けて「<%= good_word %>」へたどり着くゲーム！

<form name="form" action="/search" method="post">
  <input type="text" name="keywords[]" size="50" placeholder="キーワードを入力してください。(例：漫画家)" />
  <input type="submit" value="Go!" />
</form>

Data engine is <a href="http://ja.dbpedia.org/" target="_blank">DBPedia Japanese</a>.<br />
&copy; <a href="https://github.com/yatemmma/reach-the-good" target="_blank">yatemmma</a>. All rights reserved
<script>
  function focus() {
    document.form['keywords[]'].focus();
  }
</script>
</body>
</html>
